@font-face {
    font-family: "genshin";
    src: url("./fonts/Genshin_Impact.ttf");
}
body{
    background: #F4F7FF;
    width: 100vw;
    color: #000;
    font-family: "genshin";
    height: 100vh;
}
.logo{
    width: 75px;
    height: 75px;
    margin-right: 30px;
}

.cards{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}
.img{
    max-width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.card{
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 12px;
    padding: 1rem;
    min-height: 280px;
    -webkit-box-shadow: 0px 0px 23px 9px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 23px 9px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 23px 9px rgba(34, 60, 80, 0.2);
    transition: all 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
}
.deta{
    text-align: center;
    
}
.details{
    font-size: 16px;
    margin-bottom: 10px;
    color: #3e8e41;
}
.name{
    font-size: 20px;
    width: 200px;
    color: rgb(238, 27, 27)
}
.product{
    font-size: 16px;
    color: #F4F7FF;
    margin-bottom: 10px;
}
.glav{
    font-size: 22px;
    margin-bottom: 30px;
}
.prod{
    font-size: 24px;
    margin-bottom: 20px;
}
.products{
    font-size: 18px;
    padding: 1rem;
    background: #507551;
    
    color: aqua;
}
.name_text{
    font-size: 20px;
    color: rgb(238, 27, 27);
    margin-bottom: 20px;
}

.modal{
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	display: flex;
	left: 0;
}
.btn_burger{
    background: none;
    border: none;
    display: none;
}
.burger{
    width: 50px;
    height:50px;
    display: none;
}
.modal_content{
	padding: 20px;
	z-index: 10000;
	border-radius: 12px;
	height: 100vh;
	width: 200px;
}
/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 1199px) {
	
    
}

@media screen and (max-width: 991px) {
	
   
    .btn_burger{
        display: block;

    }
    .burger{
        display: block;
    }
    .menuItem{
        display: none;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
	
}
@media screen and (max-width: 375px){
    
}
@media screen and (max-width: 325px){
    
}